@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
h6{
    font-weight: 600;
    font-size: 18px;
}
.navbar-brand{
  color: #ffffff !important;
}
.navbar-dark .navbar-nav .nav-link{
  color: #ffffff !important;
}
h6.sub-h{
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}

  .role .label {
    color: #bd8b13;
}
.title-left {
    color: #bd8b13;
    text-align: left;
}
.title-left {
    margin-bottom: 10px;
}
.row-images img{
  margin-bottom: 24px;
}
.box-shadow-img{
  box-shadow: 0px 0px 4px 1px hsl(0deg 0% 0% / 14.9%);
}