/* imported */
.Pr-head.pro-1{
    background-image: url(../images/facile-fly/card-bg.png);
}
.p-content {
    margin: 8px 0 0px;
    font-size: 16px;
    color: #00233c;
    line-height: 26px;
}
/* imported---------------------------END*/
.work-card.project-2{
    background-image: url(../images/facile-fly/card-bg.png);
    }

.project-2 .project-content-txt{
   background-color: #089082;}
.title-h2 {
    FONT-SIZE: 24PX;
    color: #272727;
}
.title-right-p2{
    FONT-SIZE: 16PX;
    font-weight: 700;
    color: #fff;
    background-color: #089082;
    height: 50px;
    max-width: 160px;
    border-radius: 40px 0;
    text-align: center;
    padding: 14px 0;
    margin-bottom: 24px;
}
ul{
    margin-top: 10px;
    padding-left: 20px;
}
li{
    margin-bottom: 10px;
}
.p-content.ps-text{
    background-color: #f6f9de;
    padding: 15px 20px;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
}
.p-content.ps-text.use-case{
    background-color: #d6f8e5;
}
.p-content.ps-text.b-strom{
    background-color: #f2e9ff;
}
.use-case span.state-title {
     background-color: #b3e0c7;
}
.p-content.ps-text.ideate-1{
    background-color: #efd6f8;
}
.ideate-1 .state-title{
    background-color: #d4b0e0;
}
span.state-title {
    position: absolute;
    top: -31px;
    background-color: #eaefc2;
    padding: 4px 15px 10px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 13px;
    z-index: -1;
}