
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');


.main-section{
    background-image: url(../images/wave.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    background-color: #fff;
}

.inline-menu .navbar-nav {
    flex-direction: row;
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
    margin-top: 15px;
}
.inline-menu .navbar-nav .nav-item{
    margin-right: 35px;
}
.inline-menu .navbar-nav .nav-item:last-child {
    margin-right: 0px;
}
.inline-menu .navbar-nav .nav-item a {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}
a.links {
  position: relative;
  display: block;
  cursor: pointer;
}

a.links:before, a.links:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 75%;
  margin-top: -0.5px;
  background: #fff;
}

a.links:before {
  left: 0px;
}
a.links:after {
  right: 0px;
  background: #b70000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.links:hover:before {
  background: #b70000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.links:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.header-note{
    color: #fff;
    margin-top: 10vh;
    text-align: left;
    margin-left: 5vw;
    }
.hi-txt{
    font-size: 150px;
    font-weight: bolder;
    line-height: 1;
    color: #e4dddd;
    margin-bottom: 20px;
    }
.designation-txt{
   font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    color: #001a3a;
}
.nav-top-section{
    padding-top: 20px;
    text-align: center;
}
.work-page{
  background-color: #012058;
}
.work-card{
    width: 100%;
    height: 590px;
    background-color: #fff;
    display: flex;
    margin-bottom: 25px;
    transition: all .5s;
    border-radius: 4px;
    flex-direction: row;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 25%);
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
}
p.card-content-text{
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-right: 20px;
    line-height: 1.5;
}
.work-card.project-2:before{
    background-image: url(../images/spec-dashboard.png);
    }
.work-card.project-1{
    background-image: url(../images/facile-fly/card-bg.png);
    }
a.work-card:hover{
    transform: scale(.94);
}
.project-content-txt{
    color: #ffffff;
    margin-bottom: 80px
}
a.work-card:hover .project-content-txt{
    color: #ffffff;}
a.work-card:hover .project-content-txt{
    background-color: rgb(0 0 0 / 52%);}
.project-2 .project-content-txt{
   background-color: rgb(28 129 187);}
.project-1 .project-content-txt{
   background-color: #089082;}
h1{
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 20px;
}
.project-content-txt label{
    margin-bottom: 7px;
    text-transform: capitalize;
    font-size: 13px;
}
a:hover .project-content-txt {
    background-color: rgb(255 255 255 / 0%);}
h5{
    font-weight: 600;
/*    text-transform: uppercase;*/
    margin-bottom: 20px;
}
.project-content-txt div{
    margin-top: 20px;
}
.project-content-txt p{
    line-height: 22px;
}
a.links.active:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.Pr-head.pro-1{
     background-image: url(../images/facile-fly/card-bg.png);
}
.Pr-head.pro-2{
     background-image: url(../images/Spectrum/cover.jpg);
    background-position: bottom;
}
.Pr-head.pro-3{
     background-image: url(../images/Spectrum/cover.jpg);
    background-position: bottom;
}
.pro-cover{
    height: 420px;
    background-color: rgb(0 4 16 / 63%);
}
.pro-cover .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}
.role{
    margin-top: 0px;
}
.role .label{
    color: #d88d8d;
    font-size: 14px;
    margin-bottom: 10px;
}

.role .value{
    color: #c9e8ff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.mt-50{
    margin-top: 50px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.title-h2, .title-left{
    FONT-SIZE: 24PX;
    font-weight: 700;
    color: #c7c7c7;
    LETTER-SPACING: 0;
    line-height: 1;
    margin-bottom: 16px;
}
.title-right{
    margin-top: 0px !important;
    font-weight: bold !important;
}
.title-h3, .title-right{
    FONT-SIZE: 16PX;
    font-weight: 600;
    color: #090909;
    LETTER-SPACING: 0;
    line-height: 1;
    margin: 16px 0 0px;
}
.title-right-p2{
    FONT-SIZE: 16PX;
    font-weight: 700;
    color: #fff;
    background-color: #089082;
    height: 50px;
    max-width: 160px;
    border-radius: 40px 0;
    text-align: center;
    padding: 14px 0;
    margin-bottom: 24px;
}
.p-content{
    margin: 8px 0 0px;
    font-size: 16px;
    color: #00233c;
    line-height: 26px;
}
.page-1-image{
    background-color: #000f4a;
    height: auto;
    padding-bottom: 30px;
}
.page-1-section{
   margin-top: 150px;
}
.page-1-section .img-div{
    margin-top: -120px;
}
h2{
    font-size: 40px !important;
}
input[type=checkbox] {
  display: none;
}

img.img-zoom {
  margin: 30px 0 50px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
    max-width: 800px;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(1.5);
  cursor: zoom-out;
    margin-left: -150px;
}
* {
  box-sizing: border-box;
}
.work-card.project-2{
    background-image:url(../images/Spectrum/cover.jpg) !important;
    background-position: bottom !important;
}
.slider-sec-div{
    position: relative;
}
.Deals-slider .bbb_viewed_nav_container {
    position: absolute;
    right: 0px;
    top: 0;
}
.bbb_viewed_prev{
    margin-right: 10px;
    padding: 5px 5px;
}
.bbb_viewed_next{
    padding: 5px 5px;
    padding-left: 7px;
}
.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 3px 2px #0000000d;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.slider-sec-div .title-right {
    margin-bottom: 20px;
}
.bbb_viewed_nav i {
    color: #003A84;
    font-size: 13px;
    padding: 5px;}

.img-responsive {
    display: block;
    width: 100%;
}
#mygoBtn {
  position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00116f;
    color: white;
    cursor: pointer;
    padding: 7px 10px 10px;
    border-radius: 3px;
    font-size: 10px;
}
#mygoBtn .icon-next{
    -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;
    font-size: 14px;
}
#mygoBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.page-1-image.old-v-bg {
    background-color: #cacaca !important;
}
.page-1-image.new-v-bg {
    background-color: #383838 !important;
}
.new-v-bg img{
   box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 12%);
}
.card{
    min-height: 250px;
    border: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 0px #efefef;
    border-radius: 5px;
    margin: 10px 0;
}
.work-section{
    background-color: #191919;
}
.head-section{
    height: 90vh
}
.section-title{
   margin: 0rem 0rem 3rem;
    font-size: 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

img{
    max-width: 100%;
}
.spec-process{
    max-width: 70%
}
.navbar-brand img{
    max-width: 22%
}
.navbar{
   padding: 3vh 5vw 0!important 
}
.navbar-light .navbar-nav .nav-link {
   color: #001a3a;
    font-size: 22px;
}
li.nav-item {
    margin-right: 25px;
}
/*MEDIA-QUERY*-0-------------------------------------start/*/
@media (min-width: 1200px){
   .container {
    max-width: 1230px;
}   
}

@media (max-width: 1200px){
    
h2 {
    font-size: 28px !important;
}
      
}
@media (max-width: 991px){
  .header-note {
      font-size: 32px;
      max-width: 100%;
    }
    .inline-menu .navbar-nav .nav-item {
    margin-right: 25px;
}
    .page-1-image {
    height: 350px;
}
    h2 {
    font-size: 20px !important;
}
    .role {
    margin-top: 20px;
}
    .inline-menu .navbar-nav {
    margin-bottom: 20px;
    }
    .role .value {
    font-size: 14px;
}
    }
@media (max-width: 600px){
 .inline-menu .navbar-nav .nav-item a {
    font-size: 13px;
}
    .mt-50{
        margin-top: 30px !important;
    }
    .page-1-image {
    height: 150px;
}
    h2 {
    font-size: 20px !important;
}
    .pro-cover {
    height: auto;
}
    .nav-top-section {
    padding-top: 20px;
}
    .role {
    margin-top: 20px;
}
    .role .value {
    font-size: 14px;
    line-height: 20px;
}
    .role .label {
    margin-bottom: 5px;
}
    .title-h2{
        margin-bottom: 10px;
    }
    .mt-30 {
    margin-top: 20px !important;
}
}


